---
import Layout from "@layouts/Layout.astro";
import Place from "@components/Place.astro";
import {PLACES} from "./constants";
---
<Layout title='Inicio'>
	<main>

		{PLACES.map(place =>
			<Place place={place}/>
		)}

	</main>
</Layout>
