---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Historia">
	<main class="m-20">
		<div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-10" role="alert">
			<p class="font-bold">En construcción</p>
			<p>Actualmente esta página se encuentra en construcción</p>
		</div>
		<section>
			<p>
				La actual población de Alameda de Cervera, responde a una historia bastante amplia y profunda relacionada con
				la Orden Militar de San Juan y la Corona. Recibe el nombre de Alameda de Cervera, por los álamos negros y
				blancos
				que rodeaban el actual casco urbano de la aldea, en cambio del nombre de Cervera no se conoce de su origen,
			</p>
		</section>

	</main>
</Layout>
