---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Historia">
	<main class="m-20">
		<section>
			<p>
				La actual población de Alameda de Cervera, responde a una historia bastante amplia y profunda relacionada con
				la Orden Militar de San Juan y la Corona. Recibe el nombre de Alameda de Cervera, por los álamos negros y
				blancos
				que rodeaban el actual casco urbano de la aldea, en cambio del nombre de Cervera no se conoce de su origen,
			</p>
		</section>

	</main>
</Layout>
