---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Historia'>
	<main class='text-gray-600 body-font m-auto lg:w-3/4'>
		<div class='container px-5 py-24 mx-auto'>
			<div
				class='bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-10'
				role='alert'
			>
				<p class='font-bold'>En construcción</p>
				<p>Actualmente esta página se encuentra en construcción</p>
			</div>
			<div class='sm:items-center items-start mx-auto grid gap-4 text-xl font-medium sm:pr-16'>
				<p>
					Alameda de Cervera es una localidad con una historia rica y profunda relacionada con la
					Orden Militar de San Juan y la Corona. Su nombre "Alameda" hace referencia a los álamos
					negros y blancos que rodeaban el casco urbano de la aldea. Sin embargo, el origen del
					nombre "Cervera" o "Zerbera" no está claro.
				</p>

				<p>
					La localidad cuenta con varios elementos que han caracterizado su constitución a lo largo
					de la historia, como su Castillo y Dehesa de estilo medieval, su Alameda que fue ampliada
					en el siglo XVIII por el arquitecto D. Juan de Villanueva, y sus molinos de pólvora que
					fueron uno de los pilares económicos en los siglos XVII y XVIII. Con el traslado de los
					molinos a Ruidera debido a la construcción del Canal del Gran Prior en el siglo XVIII, se
					intentó adaptar los antiguos molinos en batanes y establecer una fábrica de seda en el
					Castillo.
				</p>
			</div>
		</div>
	</main>
</Layout>
