---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Historia">
	<main class="m-20">
		<p>Las primeras refrencias sobre la ermita de San Lorenzo,
			la encontramos en el año 1734, principalmente porque la
			ermita requería renovar los ornamentos que tenía, ya que
			disponía de algunos que eran pertenecientes al Convento
			de San Francisco de Alcázar de San Juan.</p>


	</main>
</Layout>
