---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Historia">
	<main class="m-20">
		<div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-10" role="alert">
			<p class="font-bold">En construcción</p>
			<p>Actualmente esta página se encuentra en construcción</p>
		</div>
		<p>Las primeras refrencias sobre la ermita de San Lorenzo,
			la encontramos en el año 1734, principalmente porque la
			ermita requería renovar los ornamentos que tenía, ya que
			disponía de algunos que eran pertenecientes al Convento
			de San Francisco de Alcázar de San Juan.</p>


	</main>
</Layout>
