---
import EventIcon from './EventIcon.astro'

const { data } = Astro.props

const { title, date, description } = data;
---

<div class='p-2 sm:w-1/2 w-full'>
	<div class='bg-gray-100 rounded flex flex-col px-4 h-full py-6'>
		<h2 class='sm:text-xl text-l font-medium title-font text-gray-800 pl-5 text-center'>{title}</h2>
		<div class='flex p-4'>
			<EventIcon className='text-indigo-500 w-6 h-6 flex-shrink-0 mr-2'/>
			<span class='font-medium text-indigo-500'>{date}</span>
		</div>
		<span class='px-4'>{description}</span>
	</div>
</div>

