---
import Rss from './Rss.astro';
---
<footer aria-label="footer" class="bg-gray-50">
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<div class="flex justify-center text-teal-600 sm:justify-start">
				<a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="/">
					<img class="w-10 h-10" src="/icon.svg" alt="logo">
					<span class="ml-3 text-xl">Alameda de Cervera</span>
				</a>
			</div>

			<Rss className="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right" />
		</div>
	</div>
</footer>
