---
import MapsIcon from './MapsIcon.astro'

const { cache } = Astro.props

const { title, url } = cache;
---

<div class='p-2 sm:w-1/2 w-full'>
	<a href={url} target='_blank' rel='noopener noreferrer'>
		<div class='bg-gray-100 rounded flex p-4 h-full items-center'>
			<MapsIcon class='text-indigo-500 w-6 h-6 flex-shrink-0 mr-4'/>
			<span class='title-font font-medium'>{title}</span>
		</div>
	</a>
</div>

