---
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, image } = Astro.props;
---
<Layout title={title}>
	<main class="container text-gray-600 body-font mt-20 m-auto w-5/6 lg:w-3/5 mb-24">
    <slug />
	</main>

</Layout>
